# -----------------------------------------------------------------------------
# GIT
# -----------------------------------------------------------------------------

alias gl="git sl"
alias gfix="git fix"

function gpb() {
  TARGET=${1-"main"}

  git checkout $TARGET \
  git fetch \
  git remote prune origin \
  git branch --merged $TARGET | grep -v '$TARGET$' | xargs git branch -d
}

# -----------------------------------------------------------------------------
# System default overrides
# -----------------------------------------------------------------------------

alias ls="ls -GFh --color=auto"

# -----------------------------------------------------------------------------
# Development
# -----------------------------------------------------------------------------

alias sail="./vendor/bin/sail"
alias sup="cd api && sail up -d && cd ../nuxt && npm run dev"

function sailcomposer() {
  VERSION=${1-80}
  COMMAND=${2-"install --ignore-platform-reqs"}

  docker run --rm \
    -u '1000:1000' \
    -v '/home/jordy/.config/composer/auth.json:/var/www/html/auth.json' \
    -v $SSH_AUTH_SOCK:/tmp/ssh-auth.sock \
    -v $(pwd):/var/www/html \
    -w /var/www/html \
    -e SSH_AUTH_SOCK=/tmp/ssh-auth.sock \
    laravelsail/php$VERSION-composer:latest composer $COMMAND
}
